<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/forms-min.css" />
    <!-- build:css -->
    <link rel='stylesheet' href='/public/app.css'/>
    <!-- endbuild -->
  </head>
  <body>
      <div id="app"></div>

      <!-- build:js -->
      <script src="public/app.js"></script>
      <!-- endbuild -->
  </body>
</html>
