<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <!-- build:css -->
    <link rel='stylesheet' href='/public/app.css'/>
    <!-- endbuild -->
  </head>
  <body>

    <div class='main-header'>
      <div class='l-content'>
        <span class='brand'>Climbing Log</span>
        <div class='main-header-right'>
          <span class='button'>+ Climb</span>
        </div>
      </div>
    </div>

    <div class='l-content'>
      <div id="climbs"></div>
      <!-- build:js -->
      <script src="public/app.js"></script>
      <!-- endbuild -->
  </body>
</html>
