.button {
  @extend .noselect;
  background: white;
  padding: $half-spacing-unit/2;
  font-weight: bold;
  color: black;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0 rgba(0,0,0,0);

  &:hover {
    background: $primary-color-light;
    color: white;
  }
}
