.climb-card {
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  padding: 20px;
  margin-top: 10px;
  background: white;
  border-left-width: 20px;
  border-left-style: solid;

  &.trad {
    border-color: #E82C0C;
  }

  &.sport {
    border-color: blue; 
  }

  .grade {
    float: right;
  }

}
