@import 'defaults';

.climb-card {
  background: white;
  font-size: $h4-size;
  padding: $base-spacing-unit; 
  margin-top: $half-spacing-unit;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  border-left-width: $base-spacing-unit;
  border-left-style: solid;

  &.trad {
    border-color: $primary-color;
  }

  &.sport {
    border-color: $secondary-color; 
  }

  .grade {
    float: right;
  }

}
