.main-header {
  background: #E82C0C;
  padding-top: 1.5em;

  .brand {
    color: white;
    font-size: 30px;
    display: inline-block;
    padding: .5em 0em;
    text-transform: uppercase;
  }
}


