@import 'defaults';

.main-header {
  background: $primary-color;
  padding-top: $base-spacing-unit;

  .brand {
    color: white;
    font-size: $h2-size;
    display: inline-block;
    padding: $half-spacing-unit 0em;
    text-transform: uppercase;
  }
}


